<p id="notice"><%= notice %></p>

<h1>Importers</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @importers.each do |importer| %>
      <tr>
        <td><%= link_to 'Show', importer %></td>
        <td><%= link_to 'Edit', edit_importer_path(importer) %></td>
        <td><%= link_to 'Destroy', importer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Importer', new_importer_path %>
